{%extends "general.html"%}
{% load i18n%}

{%block css%}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqModal.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_public.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}jqModal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}public.js"></script>


{% endblock %}

{% block content %}
    <div id="frame">
    {% block header%}
        <div class="header_wide_2">
            <div class="header_2">
                <div class="header_logo_2">
                    <img src="{{ STATIC_URL }}public/logo.png" width="180" />
                </div>
            </div>	<!-- close header_2 -->
        </div>	<!-- close header_wide_2 -->
    {% endblock %}

    <div class="content_wide">
        <div class="content">
            {% block middle_content %}

            {% endblock %}
        </div>
    </div>
    {% block footer %}

    {%  endblock %}
</div>
{#    <script type="text/javascript" src="https://system.picreel.com/js/jstracker.min.js"></script>#}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49076616-1', 'smokingliquiddirect.co.uk');
      ga('send', 'pageview');

    </script>
{% endblock %}