{%extends "base.html"%}

{% load i18n%}


{%block js%}
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.10.1.custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}commun.js"></script>
{%endblock%}
