{% extends "general.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqModal.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_public_home.css">

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}jqModal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}public.js"></script>

{% endblock %}

{% block content %}
    {% block header %}
        <header id="header">
            <div class="logo"><a href="/"><img src="{{ STATIC_URL }}public/logo_1.png"/></a></div>
{#            <div class="arrow" id="loar_div"><a><img src="{{ STATIC_URL }}public/loar.gif"></a></div>#}
            <div class="menu">
                <ul>
                    <li><a href="/accounts/login/?next=/usersadmin/">Login &nbsp;|</a></li>
                    <li><a href="/signup/">Sign Up &nbsp;|</a></li>
                    <li><a href="/about_us/">About Us &nbsp;|</a></li>
                    <li><a href="/contact_us/">Contact Us &nbsp;|</a></li>
                    <li><a href="http://lambertsmokingliquid.co.uk/uk_blog/">Blog</a></li>
                </ul>
            </div>
        </header>
    {% endblock %}
    <div id="terms_dialog_for_link" class="jqmWindow" style="width: 650px;"></div>
     <div id="disclaimer_dialog" class="jqmWindow" style="width: 650px;"></div>
    <div id="privacy_dialog" class="jqmWindow" style="width: 650px;">
            <a href="#" class="jqmClose" style="font-size: 14px; text-decoration: none;">Close</a>
         <div style="margin-top:10px;font-size: 14px;" class="request_from_friend_popup_body_small_center">
                    <b>PRIVACY POLICY:</b>
         </div>
         <div style="margin-top:10px;" class="popup_body_small" >
             <dl style="font-size: 12px;height: 300px; overflow-y: scroll;border: 1px solid #808184; width: 630px;padding: 10px 10px 10px 10px">

                 Your privacy is important to us, and to enable you to understand how we collect your data and our online information practices we’ve prepared this Privacy section.<br/>

                <br/>We will not disclose your personal details to any third parties for marketing purposes

                <br/><br/>We are providing you with this information to make sure we are honest and open about your privacy when you are using our website
                <br/><br/><b>WHAT WE COLLECT:</b>
                 <br/><br/>When you set up an account, and also whilst on our Logged In Pages you can enter personal information for the
                 purposes of setting up an account with us and placing orders,
                 making requests and registering to receive Communications from us including:
                    <dd style="margin-left: 30px;">Name
                        <br/>Billing and Delivery Address
                        <br/>Delivery leave safe information
                        <br/>Email Address
                    </dd>
                 <dl><br/><b>COOKIES:</b></dl>
                 We use “cookies” on our website, placed into your browser file, for administration purposes.
                <dd>
                    <br/>Cookies are small text files downloaded onto your computer. They cannot harm your computer. We do not store personally identifiable information such as credit card details in cookies, but we do use encrypted information gathered from them
                </dd>
                 <dd>
                <br/>To use our website, create an account and access the Logged In pages and make and edit orders you need to have cookies enabled
                </dd>
                 <dd>
                <br/>Cookies assign your computer an ID which automatically identifies your computer. Cookies cannot, by themselves, be used to identify the user. If you have an ID your computer will be automatically detected by our servers when you log onto the website, this does not identify you
                </dd>
                 <dd>
                <br/>We use cookies for cataloguing traffic patterns through the site enabling us to monitor and improve our website’s functionality
                </dd>
                 <dd>

                <br/>We also use cookies to link your internet session on our website to your user account. This enables you to create an account and access the Logged In pages and make and edit orders
                </dd>
                 <dd>
                <br/>You can find out more about cookies on the ICO website, www.ico.gov.uk
                 </dd>
                 <dl>
                    <br/><b> OUR COMMITMENT TO DATA SECURITY:</b>
                </dl>
                 <dd>
                    To prevent unauthorised access, maintain data accuracy, and ensure the correct use of information we have put in place appropriate physical, electronic and managerial procedures to safeguard the information we collect online
                </dd>
                 <dd>
                   <br/> To ensure secure collection of data from you, including personal details as described above, we use SSL technology which encrypts the data you send to us from the website which ensures that your data is kept private whilst being transmitted
                </dd>
                 <dd>
                   <br/> We do not store your payment details on our servers, they are stored securely on a secure, encrypted server used by our payment provider
                 </dd>

             </dl>
        </div>
    </div>
    {% block middle_content %}

    {% endblock %}

    {% block footer_b %}
       {% include "frontend/footer.html" %}

    {% endblock %}

{#    <script type="text/javascript" src="https://system.picreel.com/js/jstracker.min.js"></script>#}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49076616-1', 'smokingliquiddirect.co.uk');
      ga('send', 'pageview');

    </script>
{% endblock %}