{%extends "base.html"%}

{% load i18n%}

{%block title%}{% trans 'Paypal'%}{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.10.1.custom.css"/>
{%endblock%}

{%block js%}
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.10.1.custom.js"></script>
{%endblock%}