{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="Switch from Cigarettes to Smoking Liquids and Save 92%"/>
<meta name="twitter:description" content="High quality Smoking Liquids made in the UK, same as e-cigarettes but far less expensive... Get your first order 100% FREE!"/>
<meta name="twitter:image" content="http://smokingliquiddirect.co.uk/static/social_invites/twitter.jpg" >

{% block facebook_meta %}
<meta property="og:title" content="Switch from Cigarettes to Smoking Liquids and Save 92%"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://smokingliquiddirect.co.uk/media/images/social_invites/logo.png"/>
<meta property="og:description" content="High quality Smoking Liquids made in the UK, same as e-cigarettes but far less expensive... Get your first order 100% FREE!"/>
{% endblock %}

<meta name="description" content="Save 92% by switching to Lambert Smoking Liquid. A quality E liquid supplier to the vaping community.">
<title>{%block title%}{% trans 'E Cigarette | Smoking Liquid | E Liquid | Vaping Liquid | Vaping'%}{%endblock%}</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>
{%block css%}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.10.1.custom.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-3.2.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_users.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqModal.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}social_dialogs.css"/>
{%endblock%}
{%block js%}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.10.1.custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}commun.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jqModal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}usersadmin.js"></script>

{%endblock%}
</head>
<body>
{% include 'useradmins/header.html' with user_name=user.first_name %}
<div class=" clear"></div>
{%block main_content%}

{%endblock%}
 <div class=" clear"></div>
{% include 'useradmins/footer.html'%}
</body>
</html>