{% extends 'general_public1.html' %}

{% load i18n %}
{% block css %}
    {{ block.super }}
{#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_public_home6.css">#}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.js"></script>




{% endblock %}

{% block middle_content %}
    <div class="container">
        <div class="col-md-8">
            <div class="header_about" style="padding-top:100px;">About Us</div>
            <div class="general_text">Lambert Smoking Liquids is not a huge faceless
                corporation, its a medium sized business run by three members of the Lambert Family. Were proud of what
                we do and were proud of what we produce, and thats why we put our name on it.
            </div>
            <div class="header_about" style="padding-top:15px;">To sum us up....</div><br>
        </div>
        <div class="col-md-4">
            <div class="about_image" style="padding-top:100px; padding-left:90px;"><img src="{{ STATIC_URL }}public/flag.jpg"/></div>
        </div>

        <div class="col-md-8" style="margin-top:-20px;">
            <div class="color_header">Were Family Run</div>
            <div class="general_text">Were a small family run business with a dedicated team of professionals.</div>
            <div class="color_header">We put People First</div>
            <div class="general_text">We treat people how we want to be treated, we trust, we educate and we inspire.
            </div>
            <div class="color_header">We Guarantee Quality</div><br>
        </div>
        <div class="col-md-4">
            <div class="about_image" style="padding-left:90px;"><img src="{{ STATIC_URL }}public/man.jpg"/></div>
        </div>

        <div class="col-md-8" style="margin-top:-20px;">
            <div class="general_text">We source only the best ingredients to ensure our liquids are the best they can
                be.
            </div>
            <div class="color_header">Were UK Based</div>
            <div class="general_text">Yorkshire to be exact, we create jobs in the UK, we pay tax in the UK and we
                invest in our local community.
            </div>
            <div class="color_header" style="padding-top:40px;">We Drive Change</div>
            <div class="general_text" style="padding-bottom:70px;">Through our own Nicotine Reduction Directive we
                demonstrate a better way to help people switch from cigarettes and eventually end their nicotine
                addiction completely. To learn more about the directive please<span> <a href="http://lambertsmokingliquid.co.uk/nicotine_reduction/">click here.</a></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about_image" style="padding-left:90px;"><img src="{{ STATIC_URL }}public/woman.jpg"/></div>
        </div>
    </div>
{% endblock %}


