{% extends 'general_public1.html' %}

{% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.js"></script>

{% endblock %}

{% block middle_content %}
    <div class="container">
        <div class="col-md-8" style="padding-top:140px;">
            <div class="header_about">Talk to Us...</div>
            <div class="general_text">If you have any questions or you want to share your thoughts about our service,
                please
                contact us here:
            </div>
            <form action="/contact_us/" method="post" id="public_contact_form">{% csrf_token %}
                <div>
                    {% if show_delivery_message %}
                    <p id="delivery_message_text" style="color: green;text-align: center;">Your message has been sent, we will reply to you as soon as possible.</p>
                    {% endif %}
                </div>
                <div class="col-md-5" style="padding-bottom:25px;">
                    <div class="general_text" style="padding-top:5px;">Your Name:</div>
                </div>
                <div class="col-md-7" style="padding-bottom:25px;">
                    <input name="name" type="text" size="30px" class="in_box" {% if captcha == 0 %}value="{{ name }}"{% endif %} onclick="$('#delivery_message_text').hide()"
                                                                          style="height:40px; border: 1px solid;"/>
                </div>
                <div class="clear"></div>
                <div class="col-md-5" style="padding-bottom:25px;">
                    <div class="general_text" style="padding-top:5px;">Your email address:</div>
                </div>
                <div class="col-md-7" style="padding-bottom:25px;">
                    <input name="email" id="email" type="text" size="30px" class="in_box"
                           {% if captcha == 0 %}value="{{ email }}"{% endif %} onclick="$('#delivery_message_text').hide()"
                                                                          style="height:40px; border: 1px solid;"/>
                </div>
                <div class="clear"></div>
                <div class="col-md-5" style="padding-bottom:25px;">
                    <div class="general_text" style="padding-top:5px;">Your message :</div>
                </div>
                <div class="col-md-7" style="padding-bottom:25px;" onclick="$('#delivery_message_text').hide()">
                    <textarea name="message" cols="5" rows="5" class="in_box">
                        {% if captcha == 0 %}{{ message }}{% endif %}
                     </textarea>
                </div>
                <div class="clear"></div>
                <div class="col-md-7" style="padding-bottom:25px;">
                    <div class="general_text" style="padding-top:5px;">Please type here the code
                        you see in the box to the right:
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                         {{ form }}
{#                        <img src="../captcha/captcha_code_file.php?rand=<?php echo rand(); ?>" id='captchaimg'><br>#}
                        {% if captcha == 0 %}
                            <script type="text/javascript">
                                $('#id_captcha_1').css('border-color','#ff0000');
                            </script>
                        {% endif %}
                    </div>
{#                    <div>#}
{#                        <input name="" type="text" size="23px"#}
{#                                style="height:40px; border: 1px solid; border-radius:5px;"/>#}
{#                    </div>#}

                </div>
                <div class="clear"></div>
                <div class="col-md-5" style="padding-left:190px; padding-top:20px; padding-bottom:50px;">
                    <div id="public_contact_submit" style="cursor: pointer; width: 273px; height: 84px; background: url({{ STATIC_URL }}public/button_submit.jpg)"></div>
{#                    <input id="public_contact_submit" type="image"#}
{#                        src="{{ STATIC_URL }}public/button_submit.jpg"#}
{#                        value="button"/>#}
                </div>
            </form>
        </div>
        <div class="col-md-4" style="padding-top:130px;">
            <div class="contact_bg">
                <div class="contact_header">Mailing Address</div>
                <div class="contact_sub">Lambert Smoking Liquid<p></p>
                    Armstrong House<p></p>
                    First Avenue<p></p>
                    Robin Hood Airport<p></p>
                    Doncaster<p></p>
                    South Yorkshire<p></p>
                    DN9 3GA
                </div>
            </div>
        </div>
    </div>

    <style>
    #id_captcha_1{
        height:40px;
        border: 1px solid;
        border-radius:5px;
        width: 195px;
    }

    </style>
{% endblock %}


