 <a href="#" class="jqmClose" style="font-size: 14px; text-decoration: none;">Close</a>
 <div style="margin-top:10px;font-size: 14px;" class="request_from_friend_popup_body_small_center">
            <b>Disclaimer...</b>
 </div>
 <div style="margin-top:10px;" class="popup_body_small" >
     <dl style="font-size: 12px;height: 300px; border: 1px solid #808184; width: 630px;padding-left: 10px;">
         <dt style="font-weight: normal !important;"> <p>1. &nbsp;The automatic shipment of your liquids will take place periodically without further action from yourself.</p></dt>

         <dt style="font-weight: normal !important;"> <p>2. &nbsp;The order will contain a minimum of one months supply of smoking liquid (10 bottles).</p></dt>

         <dt style="font-weight: normal !important;"> <p>3. &nbsp;Shipments will occur either once a month or once every two months.</p></dt>

         <dt style="font-weight: normal !important;"> <p>4. &nbsp;Billing will occur monthly and will be processed by paypal to the amount of 29.99.</p></dt>

         <dt style="font-weight: normal !important;"> <p>5. &nbsp;The amount shown is including VAT and delivery.</p></dt>

         <dt style="font-weight: normal !important;"> <p>6. &nbsp;The payment for your first order will be refunded thirty three days into your subscription, subscriptions cancelled before then cannot be refunded.</p></dt>

         <dt style="font-weight: normal !important;"> <p>7. &nbsp;Upon cancellation liquids supplied for an unbilled period must be returned un-used.</p></dt>

         <dt style="font-weight: normal !important;"> <p>8. &nbsp;Products are for personal use only and not to be resold or passed on.</p></dt>

         <dt style="font-weight: normal !important;"> <p>9. &nbsp;Only one cash back offer per person/IP Address.</p></dt>
         <!--<dt style="font-weight: normal !important;"> <p>10. &nbsp;If a cancellation is requested within the first month, both the Free Smoking Pipe, and the Free vaporizer need to be returned unused along with any liquids sent in advance. Upon receipt of the returned items the refund will be made in full.</p></dt>-->
     </dl>
</div>