{% extends 'general_public2.html' %}

{% load i18n %}

{% block middle_content %}
    <form method="post" id="good_news_form" name="good_news_form" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        <div style="padding:10px 0px;" class="good_news">
            <div style="text-align:center; padding:10px 0px;" class="good_news_row">
                <span class="text_7">Good News!</span>
            </div>
            <div style="text-align:center; padding:10px 0px;" class="good_news_row">
                <span class="text_1">It appears you already have an account with us.</span>
            </div>
            <div style="text-align:center; padding:10px 0px;" class="good_news_row">
                <span class="text_1">We have emailed you your login details for you to enter below</span>
            </div>
            <div style="text-align: center; color: #ff0000; padding: 0 0 0 0;margin-bottom: 0px" class="good_news_row">
                 {% if form.errors %}
                        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
                 {% endif %}
            </div>
            <div style="margin-top:20px;" class="good_news_row">
                <div class="good_news_row_left">Email:</div>
                <div class="good_news_row_right">
                    <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="email_address" name="username">
                </div>
            </div>
            <div class="good_news_row">
                <div class="good_news_row_left">Password:</div>
                <div class="good_news_row_right">
                    <input type="password" style="width:200px; height:25px; border:1px solid #999;" id="" name="password">
                </div>
            </div>

            <div style="text-align:right; padding:10px 0px;" class="good_news_row">
                <input type="submit" value="Proceed"
                       style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;">
            </div>
            <div style="text-align:center; padding:10px 0px;" class="good_news_row">
                <span class="text_1">If that email doesn’t arrive within the next 3 minutes please <a href="/resend_credentials_by_email/">click
                    here</a> and we will resend it.</span>
            </div>
        </div>
    </form>
{% endblock %}

