﻿{% extends 'general_public1.html' %}
{% load i18n %}
{% block css %}
    {{ block.super }}


    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">


{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.js"></script>

{% endblock %}
{% block middle_content %}
    <div class="arrow" id="loar_div" style="margin: 374px auto 0 47%"><a><img src="{{ STATIC_URL }}public/loar.gif"></a></div>
    <div class="clear"></div>

    <div class="banner_img">
        <div class="banner"><img src="{{ STATIC_URL }}public/banner_x.jpg" width="100%"/></div>
    </div>

    <div class="clear"></div>


    <div class="container" style="margin-bottom: 50px;">
        <div class="col-md-12">
            <div class="wel_title">Why Choose Smoking Liquids...</div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="f_title">Normal Cigarettes</div>
                <div class="f_img"><img src="{{ STATIC_URL }}public/img1.png"/></div>               <br>

                <div class="f_lcontent2">
                    <ul>
                        <li>Expensive</li>
                        <li>Smelly</li>
                        <li>Toxic</li>
                    </ul>
                </div>
            </div>
            <div class="box_shadow"><img src="{{ STATIC_URL }}public/box_shadow.png"/></div>
            <div class="col-md-4" style="text-align:right; margin-left:16px;"><img src="{{ STATIC_URL }}public/grey.png"></div>
            <div class="col-md-7">
                <div class="extra_text">30<span>%</span> still like this</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="f_title">E-Cigarettes</div>
                <div class="f_img"><img src="{{ STATIC_URL }}public/img2.png"/></div>
                <br>
                <div class="f_lcontent2">
                    <ul style="margin-bottom: 0">
                        <li>Still Expensive</li>
                    </ul>
                </div>
                <div class="f_lcontent">
                    <ul>
                        <li>Its Cleaner</li>

                        <li>Its Healthier</li>

                    </ul>
                </div>
            </div>
            <div class="box_shadow"><img src="{{ STATIC_URL }}public/box_shadow.png"/></div>
            <div class="col-md-4" style="text-align:right; margin-left:16px;"><img src="{{ STATIC_URL }}public/grey.png"></div>
            <div class="col-md-7">
                <div class="extra_text">12<span>%</span> now like this</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="f_title">Smoking Liquids</div>
                <div class="f_img"><img src="{{ STATIC_URL }}public/img3.png"/></div>
                <!--<div class="f_content" style="font-weight:bold;">Lambert Smoking Liquid is similar to the liquid<br>

                in an e-cigarette but:</div>-->
                <br>
                <div class="f_lcontent" style="padding-left: 30px;">
                    <ul>
                        <li>Its low in Price.</li>
                        <li>Its Cleaner.</li>
                        <li>Its Healthier.</li>
                    </ul>
                </div>
            </div>
            <div class="box_shadow"><img src="{{ STATIC_URL }}public/box_shadow.png"/></div>
            <div class="col-md-4" style="text-align:right; margin-left:16px;"><img src="{{ STATIC_URL }}public/green.png"></div>
            <div class="col-md-7">
                <div class="extra_text" style="padding-top:30px; padding-left:5px;">58<span>%</span> like this best</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="color_section">
        <div class="container">
            <div class="wel_title">2 Reasons Why you Should Switch…</div>
            <div class="col-md-6" style="background-color:#236cb1; border-radius:8px;">
                <div class="col-md-6"><img src="{{ STATIC_URL }}public/heart.png"></div>
                <div class="col-md-6">
                    <div class="fl_content">Be Healthier!<p>Lambert Smoking Liquid delivers the same nicotine as cigarettes
                        but without the cancer causing Tar.</p></div>
                </div>
            </div>
            <div class="col-md-6" style="background-color:#236cb1; border-radius:8px; margin-left: 2px;">
                <div class="col-md-6"><img src="{{ STATIC_URL }}public/money.png"></div>
                <div class="col-md-6">
                    <div class="fl_content">Save Money!<p style="padding-bottom:20px;">Lambert smoking liquids will save you
                        money because we cut out the middle men.</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First order 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>
    <div class="container" style="margin-bottom: 50px;">
        <div class="wel_title">Never Run Out...</div>
        <div class="col-md-4">
            <div class="r_box1">
                <div class="r_box1_content">You tell us which of our 6 great flavours you want.</div>
                <div class="extra_rcontent">You have full control.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="r_box2">
                <div class="r_box1_content">You tell us how often you want your liquids delivered.</div>
                <div class="extra_rcontent">You will never run out.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="r_box3">
                <div class="r_box1_content">You receive your liquids automatically by post.</div>
                <div class="extra_rcontent">Cancel any time you like.</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First order 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>
    <div class="color_section2">
    <div class="container">
    <div class="wel_title123"><span style="color:#FFFFFF">1000's of People Recommend Us…</span></div>
    <div class="col-md-6">
        <div class="section_box2">
            <div class="section_box2_img"><img src="{{ STATIC_URL }}public/post2.jpg"/></div>
            <div class="section_box2_rght">
                <div class="section_box2_desc">Switching from cigarettes to smoking liquid is saving me huge amounts
                    of money!
                </div>
                <div class="section_box2_title">Dominic Anderson<p>Essex UK</p></div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star.jpg"/></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section_box2">
            <div class="section_box2_img"><img src="{{ STATIC_URL }}public/post3.jpg"/></div>
            <div class="section_box2_rght">
                <div class="section_box2_desc">Buying my liquid this way is so much more convenient and Im saving
                    money too.
                </div>
                <div class="section_box2_title">Amanda Reed<p>Cardiff Wales</p></div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star2.jpg"/></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section_box2">
            <div class="section_box2_img"><img src="{{ STATIC_URL }}public/col2.jpg"/></div>
            <div class="section_box2_rght">
                <div class="section_box2_desc">I’ve just switched to using Lambert smoking Liquid... Saving money
                    and loving the liquid!
               </div>
                <div class="section_box2_title">Sally Clarke<p>Aberdeen</p></div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star2.jpg"/></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section_box2">
            <div class="section_box2_img"><img src="{{ STATIC_URL }}public/post4.jpg"/></div>
            <div class="section_box2_rght">
                <div class="section_box2_desc">Delighted with the liquids and the free smoking pipe works great,
                    thanks for everything!
                </div>
                <div class="section_box2_title">Robin Heart<p>London UK</p></div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star.jpg"/></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="gapwel"></div>
    <div class="col-md-4">
        <div class="section_box2b">
            <iframe width="290" height="163" src="//www.youtube.com/embed/Rn9BBq2cm3k?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            <div class="clear"></div>
            <div class="section_box2_rghtb">
                <div class="section_box2_desc">User Feedback</div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star2a1.jpg"/></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="section_box2b">
            <iframe width="290" height="163" src="//www.youtube.com/embed/l6qPra17TJc?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            <div class="clear"></div>
            <div class="section_box2_rghtb">
                <div class="section_box2_desc">User Feedback</div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star2a.jpg"/></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="section_box2b">
            <iframe width="290" height="163" src="//www.youtube.com/embed/QH35VY31t6Q?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            <div class="clear"></div>
            <div class="section_box2_rghtb">
                <div class="section_box2_desc">User Feedback</div>
                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star2a2.jpg"/></div>
            </div>
        </div>
    </div>
    </div>
   </div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First order 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>
    <div class="clear"></div>
    <div class="color_section3">
        <div class="container">
            <div class="wel_title">6 Great Flavours…</div>
            <div class="col-md-12">
                <div class="gurrantee_box1">
                    <div class="gurrantee_title">
                        <a href="#"><span style="color:#7ba720">Green Apple</span></a>
                        <p>The perfect blend of yummy <br>apples...</p>
                    </div>
                </div>
                <div class="gurrantee_box2">
                    <div class="gurrantee_title">
                        <a href="#"><span style="color:#2f1b1d">Coffee</span></a>

                        <p>Smells like a strong freshly <br>brewed coffee...

                        </p>
                    </div>
                </div>
                <div class="gurrantee_box3">
                    <div class="gurrantee_title">
                        <a href="#"><span style="color:#d62226">Cola</span></a>

                        <p>A classic fountain cola <br>flavour...</p>
                    </div>
                </div>
                <div class="gurrantee_box4">
                    <div class="gurrantee_title">
                        <a href="#"><span style="color:#d24541">Grapefruit</span></a>
                        <p>A natural fruity grapefruit<br> flavour...</p>
                    </div>
                </div>
                <div class="gurrantee_box5">
                    <div class="gurrantee_title">
                        <a href="#"><span style="color:#2b87dc">Menthol</span></a>
                        <p>A strong minty menthol...</p>
                    </div>
                </div>
                <div class="gurrantee_box6">
                    <div class="gurrantee_title">
                        <a href="#"><span style="color:#d53100">Orange</span></a>
                        <p>Smells like freshly squeezed<br> oranges...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First order 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>
    <div class="container">
        <div class="wel_title">Made in the UK…</div>
        <div class="col-md-7">
            <div class="made_in_uk">Lambert Smoking Liquid was originally made just for friends and family however as
                word
                spread and more and more people started to ask for it we quickly realised that we had a product that was
                far                better than the ones sold on the high street.
               <p>As a family run business you can trust us to deliver what you need when you need it, and to help cope
                    with demand we have recently scaled our operation by invested in new premises, equipment and taking
                    on                    more staff.</p></div>
        </div>
       <div class="col-md-5">
            <div class="made_in_ukimg"><img src="{{ STATIC_URL }}public/made_uk.jpg"/></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First order 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>
    <div class="clear"></div>
    <div class="color_section_colour">
        <div class="container">
            <div class="wel_title"><span style="color:#FFFFFF">Socially Approved…</span></div>
            <div class="col-md-6">
                <div class="social_box"><a
                        href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157"><img
                        src="{{ STATIC_URL }}public/facebook.jpg"/></a></div>
            </div>
            <div class="col-md-6">
                <div class="social_box"><a href="https://twitter.com/SmokingLiquid"><img
                        src="{{ STATIC_URL }}public/twitter.jpg"/></a></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First order 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>
    <div class="color_section4">
        <div class="container">
            <div class="wel_title">Risk Free Trial...</div>
            <div class="saving_today_box">
                <div class="saving_box_left">
                    <div class="saving_box_content">
                        Lets get Started...<p>Our SMART box costs just £29.99 and contains 10
                    bottles of smoking liquid which is equal to 1000 cigarettes.<br>

                    <br>

                    Each bottle contains 10ml of smoking liquid (16mg nicotine strength) which normally retails at
                    £3.99, however with our SMART box you can get each bottle for just £2.99,<span
                            style="font-weight:bold; color:#0058ad;">&nbsp;SAVE £10!</span>

                    <span style="color:#aa0000; font-weight:bold;"><br>

                    <br>

                    PLUS! </span> Order today and we will give you your first box for free. (Your payment will be refunded back into your account automatically).
                        </p>
                    </div>
                </div>
                <div class="saving_box_rimg"><img src="{{ STATIC_URL }}public/package.jpg"/>
                    <div class="clear"></div>
                    <p><span style="color:#aa0000; font-weight:bold;">ITS RISK FREE…</span><br>
                    We only use Paypal so your details are 100% secure!</p></div>
            </div>
            <div class="clear"></div>
            <div class="saving_today_box1">
                <div class="bonus_left"><img src="{{ STATIC_URL }}public/smk1.jpg"/></div>
                <div class="bonus_right">
                    <div class="saving_box_content">1<sup>st</sup> Bonus</div>
                    <div class="bonus_desc">Start today and we will also send you a<span
                            style="color:#FF0000"> FREE</span>
                        smoking pipe.
                        <p style="padding-top:45px;">(worth £14.99)</p></div>
                </div>
            </div>
            <div class="saving_today_box1_1">
                <div class="bonus_left"><img src="{{ STATIC_URL }}public/smk2.jpg"/></div>
                <div class="bonus_right">
                    <div class="saving_box_content">2<sup>nd</sup> Bonus</div>
                    <div class="bonus_desc">Start today and we will also send you a replacement vaporizer for your
                        smoking pipe.<p>(worth £4.99)</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div style='background-image: url("/static/public/col_sec.jpg");color: #666666;width: 100%;'>
    <div class="con_button">
        <a href="/signup/"><img src="{{ STATIC_URL }}public/button.png"/></a>
    </div>
    </div>
    <div class="wel_top_title"><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;"></span> Get your
        First box 100<span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">% </span>
        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>
    </div>


<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/19453/script.js');
</script>

{% endblock %}


