{% extends 'general_public2.html' %}
{% load i18n %}

{% block middle_content %}
    <form method="post" id="form_input_flavour" action="/signup/input_address"> {% csrf_token %}
        <div style="padding:10px 0px; border:4px solid #CCCCCC;" class="content_part_1">
            <div class="enter_email_pass_left">
                <div style="text-align:center; padding:10px 0px;" class="enter_email_pass_left_row">
                    <span class="text_7">Step 2 of 4</span><br><br>
                    <span class="text_1">Please select which flavours you would like<br>(you can change these every two months)</span>
                </div>


                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 100px;">
                    <div class="enter_email_pass_left_row_left"  style="width: 80px;">Flavour 1:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" name="flavour_1" size="1" class="dropdown"
                                onfocus="normal_border($(this))">
                            <option value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_1 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 0px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 2:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" id="flavour_2" name="flavour_2" class="dropdown"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_2 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 100px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 3:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" class="dropdown" id="flavour_3" name="flavour_3"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_3 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} {{ value.flavour_selected }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 0px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 4:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" style="" class="dropdown" id="flavour_4"
                                name="flavour_4" onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_4 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} {{ value.flavour_selected }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>


            
                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 100px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 5:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" class="dropdown" id="flavour_5" name="flavour_5"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_5 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 0px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 6:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" class="dropdown" id="flavour_6" name="flavour_6"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_6 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 100px;">
                        <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 7:</div>
                        <div class="enter_email_pass_left_row_right" style="width: 100px;">
                            <select style="border:1px solid #999999;" class="dropdown" id="flavour_7" name="flavour_7"
                                    onfocus="normal_border($(this))">
                                <option selected="selected" value="0">Select</option>
                                {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_7 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

               <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 0px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 8:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" class="dropdown" id="flavour_8" name="flavour_8"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_8 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 100px;">
                    <div class="enter_email_pass_left_row_left" style="width: 80px;">Flavour 9:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" class="dropdown" id="flavour_9" name="flavour_9"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_9 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="enter_email_pass_left_row" style="width: 200px; margin-left: 0px;">
                    <div class="enter_email_pass_left_row_left" style="width: 70px;">Flavour 10:</div>
                    <div class="enter_email_pass_left_row_right" style="width: 100px;">
                        <select style="border:1px solid #999999;" class="dropdown" id="flavour_10" name="flavour_10"
                                onfocus="normal_border($(this))">
                            <option selected="selected" value="0">Select</option>
                            {% for value in flavours %}
                                <option value="{{ value.sld_ext_id }}"
                                        {% if value.sld_ext_id == flavours_user.flavour_10 %}
                                        selected="selected" {% endif %}>
                                    {{ value.item_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="enter_email_pass_left_row" style="margin-top: 15px; margin-left: 100px;">
                    <div class="enter_email_pass_left_row_left">How often do you want your boxes delivered:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="liquidsdelivered" id="liquidsdelivered1" type="radio" checked="checked" value="0">Monthly
                        <input name="liquidsdelivered" id="liquidsdelivered2" type="radio" value="1">Weekly
                    </div>
                </div>

                <div style="text-align:center; padding:10px 0px;" class="enter_email_pass_left_row">
                    <input type="submit" value="Proceed"
                           style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;">
                </div>
            </div>

            <div class="enter_email_pass_box"><img src="{{ STATIC_URL }}public/newbox2.png" alt="" height="284"
                                                   width="310"></div>
        </div>
    </form>


{% endblock %}

