{% extends 'general_public2.html' %}
{% load i18n%}

{% block middle_content %}
    <form action="/signup/save_delivery_data" id="form_input_address" method="post"> {% csrf_token %}
        <div style="padding:10px 0px; border:4px solid #CCCCCC;" class="content_part_1">
    	<div class="enter_email_pass_left">
        	<div style="text-align:center; padding:10px 0px; " class="enter_email_pass_left_row">
                <span class="text_7">Step 3 of 4</span><br><br>
                <span class="text_1">Please tell us your address:</span>
            </div>
        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Mr/Mrs/Miss:</div>
                <div class="enter_email_pass_left_row_right">
                    <select style="width:200px; height:25px; border:1px solid #999;" id="title" name="title" onfocus="normal_border($(this))">
                        <option selected="selected" value="0">Select</option>
                        {% for key, value in titles.iteritems %}
                            <option value="{{  key }}" {% if user_data.title == key %} selected="selected" {% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">First Name:</div>
                <div class="enter_email_pass_left_row_right">
                <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="" value="{{ user_data.first_name }}" name="firstname" onfocus="normal_border($(this))">
                </div>
            </div>
        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Second Name:</div>
                <div class="enter_email_pass_left_row_right">
                <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="" value="{{ user_data.last_name }}" name="lastname" onfocus="normal_border($(this))">
                </div>
            </div>
        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">House Building Number:</div>
                <div class="enter_email_pass_left_row_right">
                <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="" value="{{ user_data.hbn }}" name="hbn" onfocus="normal_border($(this))">
                </div>
            </div>
        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Street Address:</div>
                <div class="enter_email_pass_left_row_right">
                <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="" value="{{ user_data.street_address }}" name="street_address" onfocus="normal_border($(this))">
                </div>
            </div>
        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Second line of address:</div>
                <div class="enter_email_pass_left_row_right">
                <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="" name="street_address_2line" value="{{ user_data.street_2_line }}" onfocus="normal_border($(this))">
                </div>
            </div>
            <div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Country:</div>
                <div class="enter_email_pass_left_row_right">
                    <select style="width:200px; height:25px; border:1px solid #999;" id="country" name="country" onchange="get_towns_and_counties($('#county'),$(this))" onfocus="normal_border($(this))">
                        <option selected="selected" value="0">Select</option>
                        {% for key, value in country.iteritems %}
                            <option value="{{  key }}" {% if user_data.country == key %} selected="selected" {% endif %}  >{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">County:</div>
                <div class="enter_email_pass_left_row_right">

                    <select style="width:200px; height:25px; border:1px solid #999;" id="county" name="county" onfocus="normal_border($(this))">
                        <option selected="selected" value="0">Select</option>
                        {% for key, value in county.iteritems %}
                            <option value="{{  key }}" {% if user_data.county == key %} selected="selected" {% endif %} > {{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Town /city:</div>
                <div class="enter_email_pass_left_row_right">
                    <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="towncity" name="towncity" value="{{ user_data.town }}" onfocus="normal_border($(this))">
                </div>
            </div>

        	<div class="enter_email_pass_left_row">
            	<div class="enter_email_pass_left_row_left">Postcode:</div>
                <div class="enter_email_pass_left_row_right">
                <input type="text" style="width:200px; height:25px; border:1px solid #999;" id="" name="postcode" value="{{ user_data.postcode }}" onfocus="normal_border($(this))">
                </div>
            </div>
        	<div style="text-align:center; padding:10px 0px;" class="enter_email_pass_left_row">
                <input type="submit" value="Proceed" style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;" onfocus="normal_border($(this))">
            </div>
        </div>
        <div class="enter_email_pass_box"><img src="{{ STATIC_URL }}public/newbox2.png" alt="" height="284" width="310"></div>
    </div>
    </form>

<style>
body{
    font-size: 12px;
}
.check_out_middle_1of3 {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    float: left;
    min-height: 10px;
    padding: 10px;
    width: 310px;
}
.check_out_middle_1of3_item {
    float: left;
    min-height: 10px;
    width: 290px;
    margin-bottom: 5px;
}

.check_out_middle_1of3_item_left {
    float: left;
    min-height: 10px;
    width: 140px;
}

.check_out_middle_1of3_item_right {
    float: left;
    min-height: 10px;
    width: 150px;
}

</style>
{% endblock %}

