{% extends 'general_public2.html' %}

{% load i18n %}

{% block middle_content %}
    <div class="content_wide">
        <div class="content">
            <div class="content_part_1" style="padding-bottom:20px; padding-top:10px; border:4px solid #CCCCCC;">
                <div class="about_us_wide">
                    <div class="contact_us">
                        <div class="contact_us_row" style=" height:30px; font-size:24px; text-align:center;">
                            Recover your Password
                        </div>
                        <div class="contact_us_row" style="text-align:center;">
                            So we can help you recover your username and password please enter your email address:
                        </div>
                            <form method="post" action="" id="form_passwor_recover">{% csrf_token %}
                            <div class="contact_us_row" style="margin-top:40px;">
                                <div class="contact_us_row_left">
                                    Email address:
                                </div>
                                <div class="contact_us_row_right">
                                    <input type="text" name="email" id="email" size="30"
                                           style=" height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;"/>
                                </div>
                            </div>
                            <div class="contact_us_row" style="text-align:center; margin-bottom:20px;">
                                <input type="button" name="#" id="password_submit"
                                       style="cursor: pointer; background-color:#7BC423; color:#FFF; width:250px; height:40px; border:0px; font-size:20px;"
                                       value="Send me my details"/>
                            </div>
                        </form>
                        <div class="contact_us_row" style="text-align:center; margin-bottom:10px;">
                            ( The email address you enter must already be associated with the account your trying to
                            recover
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- close content -->
    </div>    <!-- close content_wide -->
{% endblock %}

{% block footer %}
{% endblock %}