{% extends 'general_public2.html' %}

{% load i18n%}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}payment.js"></script>
{% endblock %}

{% block middle_content %}
   <div class="good_news" style="padding:10px 0px; border:4px solid #CCCCCC;">
        	<div class="good_news_row" style="padding:10px 0px; margin-top:50px; text-align:center;">
                <span class="text_7">Payment Error! {{ payment_error_detail }}</span>
            </div>
        	<div class="good_news_row" style="padding:10px 0px; text-align:center;">
                <span class="text_1">Please wait whilst we redirect you back.</span>
            </div>
        	<div class="good_news_row" style="padding:10px 0px; margin-bottom:50px; text-align:center;">
                <span class="text_1">If you are not redirected within 30 seconds please <a href="/usersadmin/">click here</a>.</span>
            </div>
    </div>
{% endblock %}

