{% extends 'general_public2.html' %}

{% load i18n%}

{% block middle_content %}
    <div class="good_news" style="padding:10px 0px;" xmlns="http://www.w3.org/1999/html">
      	<div class="good_news_row" style="padding:10px 0px; text-align:center;">
            <span class="text_1">Please push the button to complete the transaction</span>
        </div>
    <form name="form_complete" action="{{ sage_url }}" method="POST"/>
        <input type="hidden" name="Status" value="{{ Status }}"/>
        <input type="hidden" name="StatusDetail" value="{{ StatusDetail }}"/>
        <input type="hidden" name="RedirectURL" value="{{ RedirectURL }}"/>
        <input type="submit" value="Complete">
    </form>
    </div>
    <script type="text/javascript">$('form').submit()</script>
{% endblock %}

