{% extends 'frontend/general_signup_paypal.html' %}

{% load i18n%}

{% block content %}
    <div class="container">
        <div class="thank_you">Thank you
        <p>Please hold whilst we redirect you to</p>
        </div>
        <div class="paypal_img"><img src="{{ STATIC_URL }}paypal/paypal.jpg" /></div>
        <div class="paypal_procs"><div style="width:80%; margin:0px auto"><div id="progressbar"><div id="progress" ><div id="pbaranim"></div></div></div></div></div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="H9UFBUE743G7Q">
            <input type="hidden" name="custom" value="{{ custom_trans_id }}">
            <!--<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">-->
             <input type="image" src="http://www.smokingliquiddirect.co.uk/images/aaa.jpg" border="0" name="submit"
                   alt="Redirecting you to paypal" style="display: none">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            <input type="submit" value="sender" style="display: none">
        </form>
    </div>
    <script type="text/javascript">$('form').submit()</script>
{% endblock %}

