{% extends 'general_public2.html' %}
{#{% load signup_extras %}#}
{% load i18n %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
       $(document).ready(function(){
            $('#terms_dialog').jqm();

            $('#step1_proceed_btn').click(function(){
                register_prize();
                $.get('/terms_popup/',function(data){
                    if($("#hidden_can_send").attr('value') == '1'){
                        $('#form_email_password').submit();
                    }
                    else{
                        $('#terms_dialog').html(data);
                        $('#terms_dialog').jqmShow();
                    }
                });
            });
      });
    </script>
{% endblock %}

{% block middle_content %}

    <form id="form_email_password" method="post" action="/signup/middle_step/">{% csrf_token %}

        <div id="terms_dialog" class="jqmWindow" style="width: 650px;position: absolute;"></div>
        <div class="content_part_1" style="padding:10px 0px; border:4px solid #CCCCCC;">

            <div class="enter_email_pass_left">
                <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                    <span class="text_7">Step 1 of 4</span><br><br>
                    <span class="text_1">Please enter your email address, and choose a password:</span>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Email:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="email_address" id="email_address" style="width:200px; height:25px; border:1px solid #999;"
                               type="text">

                    </div>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Retype Email:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="remail_address" id="remail_address" style="width:200px; height:25px; border:1px solid #999;"
                               type="text">
                    </div>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Password:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="password" id="password" style="width:200px; height:25px; border:1px solid #999;"
                               type="password" onfocus="register_prize()">
                    </div>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Retype Password:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="rpassword" id="rpassword" style="width:200px; height:25px; border:1px solid #999;"
                               type="password">
                    </div>
                </div>
                <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                    <input id="step1_proceed_btn" style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;"
                           value="Proceed" type="button">
                </div>
                <input id="hidden_can_send" value="0" type="hidden">
            </div>
             <div class="enter_email_pass_box"><img src="{{ STATIC_URL }}public/newbox2.png" alt="" height="284" width="310"></div>


        </div>

    </form>
{% endblock %}

