<div id="footer">
    <div class="container">

        <div class="clear"></div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="col-lg-6 col-md-6 col-sm-5"><img src="{{ STATIC_URL }}useradmins/footer-logo.jpg" alt=""></div>
            <div class="col-lg-6 col-md-6 col-sm-7">
                <div class="footer_addr">LSL<br>
                    Armstrong House<br>
                    First Avenue<br>
                    Robin Hood Airport<br>
                    Doncaster<br>
                    South Yorkshire<br>
                    DN9 3GA
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="ftr_socialbox">
                <div class="clear"></div>
                <div class="ftr_twitter"><a href="https://twitter.com/SmokingLiquid"><img src="{{ STATIC_URL }}useradmins/twitter-foo.jpg"/></a></div>
                <div class="ftr_facebook"><a href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157"><img src="{{ STATIC_URL }}useradmins/facebook-foo.jpg"/></a></div>
                <div class="ftr_mail"><a href="/usersadmin/contactus/"><img src="{{ STATIC_URL }}useradmins/mail-foo.jpg"/></a></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="ftr_menu">
                <ul>
                    <li><a href="/usersadmin">Home</a></li>
                    <li><a href="/usersadmin/yoursubscription">Your Order</a></li>
                    <li><a href="/usersadmin/yourdetails">Your details</a></li>
                    <li><a href="/usersadmin/contactus">Contact Us</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="ftr_copyrght">© 2014 Smoking liquid direct - All rights reserved</div>
        </div>


        <div class="clear"></div>
    </div>
</div>