<header id="header">
    <div class="container">
        <div class="logo1"><a href="/usersadmin"><img src="{{ STATIC_URL }}useradmins/logo.png"/></a></div>

        <div class="menu">
            <ul>
                <li><a href="/usersadmin">Home &nbsp;|</a></li>
                <li><a href="/usersadmin/yoursubscription">Your Order &nbsp;|</a></li>
                <li><a href="/usersadmin/yourdetails">Your Details &nbsp;|</a></li>
                <li><a href="/usersadmin/contactus">Contact Us</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="contact_topbox">
            <div class="contact_welcome">Welcome {{ user_name }}</div>
            <div class="contact_log"><a href="/accounts/logout/">Log Out</a></div>
        </div>
    </div>
</header>