{% extends 'usersadmin_general.html' %}

{% block main_content %}
    <div class=" clear"></div>
    <div class="container">
    <div class="yourdet_heading">YOUR DETAILS</div>
    <form method="post" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
    <div class="col-md-12">
        <div class="yourdet_gen">EMAIL ID</div>
        <div><input name="email" type="text" class="yourdet_inbox1" placeholder="lambecli@aol.com" value="{{ private_address.email }}"></div>
    </div>
    <div class="col-md-6" style="margin-bottom:10px;">
        <div class="yourdet_gen">PASSWORD</div>
        <div><input name="password" type="password" class="yourdet_inbox1" placeholder=""></div>
        <h4 style="color: red;" hidden="hidden" id="password_message_error">Password do not match, please try again.</h4>
        {% if show_message %}
        <h4 style="color: green;" id="password_message_success">Password changed successfully.</h4>
        {% endif %}

    </div>
    <div class="col-md-6" style="margin-bottom:10px;">
        <div class="yourdet_gen">RETYPE PASSWORD</div>
        <div><input name="re-password" type="password" class="yourdet_inbox1" placeholder=""></div>

    </div>

    <div class="clear"></div>
    <div class="col-md-4">
        <input type="submit" value="Edit" class="button1">
    </div>
    <div class="clear"></div>
    <div class="yourdet_box1">
        <div class="yourdet_box1_topcol">
            <div class="yourdet_box1_header">YOUR DETAILS</div>
            <div class="col-md-2">
                <div class="yourdet_box1_innertext">MR/MRS/MISS</div>
                <div>

                    <select class="yourdet_inbox2" name="your_title" id="your_title">
                        {% for title in titles %}
                            <option value="{{ title.titleid }}"
                                    {% if title.titleid == private_address.your_title %}selected="selected"{% endif %}>
                                {{ title.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">FIRST NAME</div>
                <div><input name="your_firstname" type="text" class="yourdet_inbox3" value="{{ private_address.your_firstname }}"></div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">SECOND NAME</div>
                <div><input name="your_secondname" type="text" class="yourdet_inbox3" value="{{ private_address.your_secondname }}"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">HOUSE BUILDING NUMBER</div>
                <div><input name="your_hbn" type="text" class="yourdet_inbox3" value="{{ private_address.your_hbn }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">STREET ADDRESS</div>
                <div><input name="your_streetaddress" type="text" class="yourdet_inbox3" value="{{ private_address.your_streetaddress }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">SECOND LINE OF ADDRESS</div>
                <div><input name="your_secondlineaddress" type="text" class="yourdet_inbox3" value="{{ private_address.your_secondlineaddress }}"></div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">TOWN/CITY</div>
                <div><input name="your_towncity" type="text" class="yourdet_inbox3" value="{{ private_address.your_towncity }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">COUNTY</div>
                <div>
                    <select class="yourdet_inbox3" name="your_county" id="your_county">
                        {% for your_county in your_counties %}
                            <option value="{{ your_county.codeid }}"
                                    {% if your_county.codeid == private_address.your_county %}selected="selected"{% endif %}>
                                {{ your_county.code_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">COUNTRY</div>
                <div>
                    <select class="yourdet_inbox3" name="your_country" id="your_country"
                            onchange="get_towns_and_counties($('#your_county'), $(this))">
                        {% for country in countries %}
                            <option value="{{ country.codeid }}"
                                    {% if country.codeid == private_address.your_country %}selected="selected"{% endif %}>
                                {{ country.code_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">POSTCODE</div>
                <div><input name="your_postcode" type="text" class="yourdet_inbox3" value="{{ private_address.your_postcode }}"></div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <input type="submit" value="Edit" class="button1">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="yourdet_box1">
        <div class="yourdet_box2_topcol">
            <div class="yourdet_box1_header">DElivery Address</div>
            <div class="col-md-2">
                <div class="yourdet_box1_innertext">MR/MRS/MISS</div>
                <div>

                    <select class="yourdet_inbox2" name="delivery_title" id="delivery_title">
                        {% for title in titles %}
                            <option value="{{ title.titleid }}"
                                    {% if title.titleid == delivery_address.delivery_title %}selected="selected"{% endif %}>
                                {{ title.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">FIRST NAME</div>
                <div><input name="delivery_firstname" type="text" class="yourdet_inbox3" value="{{ delivery_address.delivery_firstname }}"></div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">SECOND NAME</div>
                <div><input name="delivery_secondname" type="text" class="yourdet_inbox3" value="{{ delivery_address.delivery_secondname }}"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">HOUSE BUILDING NUMBER</div>
                <div><input name="delivery_hbn" type="text" class="yourdet_inbox3" value="{{ delivery_address.delivery_hbn }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">STREET ADDRESS</div>
                <div><input name="delivery_streetaddress" type="text" class="yourdet_inbox3"  value="{{ delivery_address.delivery_streetaddress }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">SECOND LINE OF ADDRESS</div>
                <div><input name="delivery_secondlineaddress" type="text" class="yourdet_inbox3" value="{{ delivery_address.delivery_secondlineaddress }}"></div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">TOWN/CITY</div>
                <div><input name="delivery_towncity" type="text" class="yourdet_inbox3" value="{{ delivery_address.delivery_towncity }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">COUNTY</div>
                <div>
                    <select class="yourdet_inbox3" name="delivery_county" id="delivery_county">
                        {% for delivery_county in delivery_counties %}
                            <option value="{{ delivery_county.codeid }}"
                                    {% if delivery_county.codeid == delivery_address.delivery_county %}selected="selected"{% endif %}>
                                {{ delivery_county.code_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">COUNTRY</div>
                <div>
                    <select class="yourdet_inbox3" name="delivery_country" id="delivery_country"
                            onchange="get_towns_and_counties($('#delivery_county'),$(this))">
                        {% for country in countries %}
                            <option value="{{ country.codeid }}"
                                    {% if country.codeid == delivery_address.delivery_country %}selected="selected"{% endif %}>
                                {{ country.code_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">POSTCODE</div>
                <div><input name="delivery_postcode" type="text" class="yourdet_inbox3" value="{{ delivery_address.delivery_postcode }}"></div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <input type="submit" value="Edit" class="button2">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="yourdet_box1">
        <div class="yourdet_box3_topcol">
            <div class="yourdet_box1_header">Billing Address</div>
            <div class="col-md-2">
                <div class="yourdet_box1_innertext">MR/MRS/MISS</div>
                <div>

                    <select class="yourdet_inbox2" name="billing_title" id="billing_title">
                        {% for title in titles %}
                            <option value="{{ title.titleid }}"
                                    {% if title.titleid == billing_address.billing_title %}selected="selected"{% endif %}>{{ title.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">FIRST NAME</div>
                <div><input name="billing_firstname" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_firstname }}"></div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">SECOND NAME</div>
                <div><input name="billing_secondname" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_secondname }}"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">HOUSE BUILDING NUMBER</div>
                <div><input name="billing_hbn" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_hbn }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">STREET ADDRESS</div>
                <div><input name="billing_streetaddress" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_streetaddress }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">SECOND LINE OF ADDRESS</div>
                <div><input name="billing_secondlineaddress" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_secondlineaddress }}"></div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">TOWN/CITY</div>
                <div><input name="billing_towncity" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_towncity }}"></div>
            </div>

            <div class="col-md-4">
                <div class="yourdet_box1_innertext">COUNTY</div>
                <div>
                    <select class="yourdet_inbox3" name="billing_county" id="billing_county">
                        {% for billing_county in billing_counties %}
                            <option value="{{ billing_county.codeid }}"
                                    {% if billing_county.codeid == billing_address.billing_county %}selected="selected"{% endif %}>{{ billing_county.code_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">COUNTRY</div>
                <div>
                    <select class="yourdet_inbox3" name="billing_country" id="billing_country"
                            onchange="get_towns_and_counties($('#billing_county'),$(this))">
                        {% for country in countries %}
                            <option value="{{ country.codeid }}"
                                    {% if country.codeid == billing_address.billing_country %}selected="selected"{% endif %}>{{ country.code_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="yourdet_box1_innertext">POSTCODE</div>
                <div><input name="billing_postcode" type="text" class="yourdet_inbox3" value="{{ billing_address.billing_postcode }}"></div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="clear"></div>
            <div class="col-md-4">
                <input type="submit" value="Edit" class="button3">
            </div>
        </div>
    </div>
    </form>
    <div class="clear"></div>
    </div>
    <div class=" clear"></div>
{% endblock %}