{% extends 'usersadmin_general.html' %}

{% block facebook_meta %}
    <meta property="og:title" content="Switch from Cigarettes to Smoking Liquids and Save 92%" />
    <meta property="og:site_name" content="Lambert Smoking Liquid"/>
    <meta property="og:url" content="{{ fb_data.absolute_url }}"/>
    <meta property="og:description" content="High quality Smoking Liquids made in the UK, same as e-cigarettes but far less expensive... Get your first order 100% FREE!"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="{{ fb_data.fb_app_id }}"/>
    <meta property="og:image" content="{{ fb_data.fb_app_dialog_img }}"/>
{% endblock %}


{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}usersadmin_home.js"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}popup.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}usersadmin_home.css"/>
{% endblock %}

{% block main_content %}
    <div class="container">

    <div class="col-md-12">
        <div class="userad_heading">ANOTHER FREE VAPORIZER...</div>
    </div>

    <div class="col-md-6">
        <div class="userad_gen">
            Recommend us to your friends via FACEBOOK, Twitter, or email and every time someone follows your link and
            signs up with us we will send you another <span>FREE</span> vaporizer <span>(worth £4.99 )</span>
        </div>
        <div><img src="{{ STATIC_URL }}useradmins/vaper.jpg"></div>
    </div>
    <div class="col-md-6" style="margin-top:-45px;">
        <div class="user_img">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ fb_data.absolute_url }}" target="_blank" class="callback_popup1">
                <img src="{{ STATIC_URL }}useradmins/con_fb.jpg">
            </a>
        </div>
        <br>

        <div id="inline" style="display:none">
            <div style="margin-top:20px; padding-left:12px; padding-right:12px; margin-bottom:20px;">
                <div class="pop_facebookbox">
                    <div class="facebook_text">Share on Facebook</div>
                    <div class="facebook_gentext">1) First cut or copy this text (generated just for you and changes
                        every day):
                    </div>
                    <div>
                        <textarea id="facebook_textarea" name="textarea" cols="" rows="" class="pmail_inbox1"
                                  placeholder="You get your first order for free at Lambert Smoking Liquids ... You get your first order for free at Lambert Smoking Liquids ... http://smokingliquiddirect.co.uk/socialinvites/invite_proxy/770"
                                  style="padding:20px;"></textarea>
                        <!--<div class="innerbox_text">You get your first order for free at Lambert Smoking Liquids ... </div>
                        <div class="innerbox_text">You get your first order for free at Lambert Smoking Liquids ...  </div>
                        <div class="innerbox_text"><a href="#">http://smokingliquiddirect.co.uk/socialinvites/invite_proxy/770 </a></div>-->
                    </div>
                    <div class="facebook_gentext" style="padding-top:10px;">2) Then open a facebook window by clicking
                        ... <a onclick="show_facebook_invite_dialog()" style="cursor: pointer"> here </a>
                    </div>
                    <div class="facebook_gentext">3) Finally paste the text from above into the message section of the
                        facebook screen and share with your friends, this code is exclusive to you
                        so we can track it to you!
                    </div>
                </div>
            </div>
        </div>

        <input id="fb_app_id" style="display: none"/>
        <input id="fb_host_name" style="display: none"/>
        <input id="fb_invite_id" style="display: none"/>
        <input id="fb_picture" style="display: none"/>
        <input id="fb_description" value="Save 92% by switching from cigarettes to Lambert Smoking Liquids" style="display: none"/>
        <input id="fb_name" value="Lambert Smoking Liquid now HALF PRICE! check it out here.." style="display: none" />


        <div class="user_img"><a id="twitter_popup2" href="#"><img src="{{ STATIC_URL }}useradmins/con_twit.jpg"></a></div>

        <div class="user_img"><a href="#inline1" class="email_callback_popup"><img src="{{ STATIC_URL }}useradmins/con_mail.jpg"></a></div>

        <br>

        <div id="inline1" style="display:none">
            <div style="margin-top:20px; padding-left:12px; padding-right:12px; margin-bottom:20px;">

                <div class="pop_mail">
                    <div class="popmail_text">Share by Email</div>
                    <div class="pmail_left">
                        <div class="pmail_text">
                            To
                        </div>
                    </div>
                    <form id="email_form" action="/socialinvites/email_popup" method="POST">{% csrf_token %}
                        <div class="pmail_right">
                            <input type="text" class="pmail_inbox" id="to" name="to" autocomplete="on"
                                   onkeyup="validate_email()" onblur="validate_email()" onchange="validate_email()"
                                                        placeholder="Enter Visitors Email">
                        </div>
                        <div class="clear"></div>
                        <div class="pmail_left">
                            <div class="pmail_text">
                                Subject
                            </div>
                        </div>
                        <div class="pmail_right">
                            <input name="textfl" type="text" class="pmail_inbox" id="subject" name="subject" value="{{ subject }}"
                                                        placeholder="From test - f name test- s name">
                        </div>
                        <div class="clear"></div>
                        <div class="pmail_text">Message</div>
                        <div>
                            <textarea id="message" name="message" cols="" rows="" class="pmail_inbox1">

                            </textarea>
                        </div>
                        <div class="pop_button">
                            <input disabled="disabled" id="sender" type="image" src="{{ STATIC_URL }}useradmins/pop_butt.jpg" alt="Submit"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class=" clear"></div>
    <div class="col-md-12">
        <div class="usead_bottombox">
            <div class="userad_bbfirst">TELL A FRIEND...THEIR FIRST ORDER IS</div>
            <div class="userad_bbsecond">FREE!</div>
            <div class="userad_bbthird">Do you have any friends that smoke, send them a link today!</div>
        </div>
    </div>
</div>

{% endblock %}