{% extends 'usersadmin_general.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}popup.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}usersadmin_home.css"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}usersadmin_home.js"></script>
{% endblock %}

{% block main_content %}
    <div class=" clear"></div>
    <div class="container">
        <div class="subp_heading">Your Order</div>
        <div class="col-md-6">
            <div class="sub_box">
                <div class="sub1_topcol">
                    <div class="sub1_topheading">Your Selected Flavours…</div>
                    <div class="clear"></div>
                    <div class="sub_gen">These are the 10 flavours which you have<br>
                        Selected at the discounted price of <span>£2.99 </span>per bottle.
                    </div>
                    <div class="clear"></div>
                    <form action="" method="post">
                        <div class="subbox1_half">
                            <select id="flavour_1" name="falvour_1" size="1" class="sub_inbox"
                                    onchange="change_flavour(1)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_1 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="subbox1_half">
                            <select id="flavour_2" name="falvour_2" size="1" class="sub_inbox"
                                    onchange="change_flavour(2)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_2 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select id="flavour_3" name="falvour_3" size="1" class="sub_inbox"
                                    onchange="change_flavour(3)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_3 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select name="flavour_4" id="flavour_4" size="1" class="sub_inbox"
                                    onchange="change_flavour(4)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_4 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }}  </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select name="flavour_5" id="flavour_5" size="1" class="sub_inbox"
                                    onchange="change_flavour(5)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_5 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select id="flavour_6" name="falvour_6" size="1" class="sub_inbox"
                                    onchange="change_flavour(6)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_6 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select id="flavour_7" name="falvour_7" size="1" class="sub_inbox"
                                    onchange="change_flavour(7)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_7 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select id="flavour_8" name="falvour_8" size="1" class="sub_inbox"
                                    onchange="change_flavour(8)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_8 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select name="flavour_9" id="flavour_9" size="1" class="sub_inbox"
                                    onchange="change_flavour(9)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_9 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }}  </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="subbox1_half">
                            <select name="flavour_10" id="flavour_10" size="1" class="sub_inbox"
                                    onchange="change_flavour(10)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == flavours_user.flavour_10 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    <div class="clear"></div>
                    <div class="sub_gen">You can change these flavours any time you like.</div>
                    <div class="sub1_bottomcol">
                        <div class="sub1_bottomheading">PLUS: we will also include a <span>FREE</span> vaporizer
                            for your smoking pipe worth <span>£4.99!</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="sub_box" id="four_free_flavours_section" style="{% if not allow_free_flavours%} display: none; {% endif %}">
                <div class="sub2_topcol">
                    <div class="sub2_topheading">Your 4 free bottles<br>
                        of smoking liquid!
                    </div>
                </div>
                <div class="sub2_gen">
                    As a thank you we want to send you 4 <span>FREE</span> bottles of smoking liquid with your next
                    delivery
                    <span>(worth £16)</span>, please tell us which flavours you would like:
                </div>
                <div style="width:48%; float:left; padding-left:2%;">
                    <form action="" method="post">
                        <div>
                            <select id="free_flavour_1" name="free_flavour_1" size="1" class="sub_inbox1"
                                    onchange="change_free_flavour(1)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == four_free_flavours_user.flavour_1 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }}
                                    </option>
                                {% endfor %}
                            </select>

                        </div>
                        <div>
                            <select id="free_flavour_2" name="free_flavour_2" size="1" class="sub_inbox1"
                                    onchange="change_free_flavour(2)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == four_free_flavours_user.flavour_2 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <select id="free_flavour_3" name="free_flavour_3" size="1" class="sub_inbox1"
                                    onchange="change_free_flavour(3)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == four_free_flavours_user.flavour_3 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <select id="free_flavour_4" name="free_flavour_4" size="1" class="sub_inbox1"
                                    onchange="change_free_flavour(4)" style="height: 40px;text-transform: uppercase;">
                                {% for value in flavours %}
                                    <option value="{{ value.product_id }}"
                                            {% if value.product_id == four_free_flavours_user.flavour_4 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <img src="{{ STATIC_URL }}useradmins/subscription.jpg">
                </div>
            </div>
        </div>

        <div class=" clear"></div>

        <div class="col-md-6">
            <div class=" sub_box2">
                <div class="subbox2_topcol">
                    <div class="subbox2_topheader">Your Order</div>
                </div>
                <div class="subbox2_inner">
                    <div class="subbox2_general">Your next order will be dispatched on:<span> {{ next_order }}</span></div>
                    <div class="subbox2_general">Your next billing will occur on:<span> {{ next_billing }}</span></div>
                    <div class="subbox2_generalred">
                        {% if activate %}
                            <a id="change_delivery" href="/usersadmin/activate_account/">{{ cancel_link_text }}</a>
                        {% else %}
                            <div style="display: none;">
                                {% if put_js_function %}
                                    <a id="change_delivery" onclick="change_status_order()">{{ cancel_link_text }}</a>
                                {% else %}
                                    {{ cancel_link_text }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="subbox2_general">The name that will appear on</div>
                    <div class="subbox2_general">Your PAYPAL statement is:<span> {{ vendor_name }}</span></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="sub_box2">
                <div class="subbox2_topcol">
                    <div class="subbox2_topheader">Your Bonus!</div>
                </div>
                <div class="subbox2_inner">
                    <div class="subbox2_general2">Every time you refer someone and they signup we will send you another <span> FREE </span>
                        Vaporizer <span>(worth £4.99)</span>.
                    </div>
                    <div class="subbox2_general2">Since your last delivery you have referred {{ earned_pipes }} new people so have earned {{ earned_pipes }} new Vaporizers.
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class=" clear"></div>
{% endblock %}