{% extends 'usersadmin_general.html' %}
{% block main_content %}
   <div class="container">

    <div class="col-md-12">
        <div class="contact_heading">Contact Us</div>
    </div>

    <div class="col-md-6">
        <form action="/usersadmin/save_conact_us/" method="post" id="contactus">{% csrf_token %}
            {% if show_delivery_message %} <p id="delivery_message_text" style="color: green">Your message has been sent, we will reply to you as soon as possible.</p> {% endif %}
            <div class="contact_label">Subject</div>
            <div>
                <input name="subject" id="subject" type="text" onclick="$('#delivery_message_text').hide()" class="contact_inbox1">
            </div>
            <div class="contact_label">Message</div>
            <div>
                <textarea name="body" id="body" cols="" rows="" class="contact_inbox2"></textarea>
            </div>
            <div class="contact_send">
                <input id="submit_contactus" type="image" src="{{ STATIC_URL }}useradmins/contact_sent.jpg" alt="Submit">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="contact_right"><img src="{{ STATIC_URL }}useradmins/contact_bnner.jpg"></div>
    </div>


</div>
{% endblock %}