@font-face
{
font-family: mygoticbold;
src: url(GOTHICB.TTF);
}
@font-face
{
font-family: mygoticReg;
src: url(GOTHIC.TTF);
}
@font-face
{
font-family: lobesstar;
src: url(Lobster.ttf);
}
@font-face
{
font-family: latoLight;
src: url(Lato-Light.ttf);
}
body{ padding:0; 
      margin:0;
	  /*background-image:url(../Desktop/Photo0105.jpg);*/
	}
*{ padding:0; margin:0;}
.clear{ clear:both;}
header{ background-color:#262626; width:100%; height:50px; padding-top:10px;}
.menu{ width:33%; float:right; }
.menu ul{ padding:0; margin:0;}
.menu ul li{ list-style:none; display: inline;}
.menu ul li a{ color:#fff; font-family: mygoticReg; font-size:16px; text-decoration:none;}
.menu ul li a:hover{ color:#999999; font-family: mygoticReg; font-size:16px; text-decoration:none;}
.wel_title{ font-family: mygoticbold; font-size:42px; color:#1d1d1d; text-align:center; background-image:url(/static/public/bg_img.png); background-position:bottom; background-repeat:no-repeat; padding-bottom:15px; margin-top:20px; margin-bottom: 20px;}
.logo{ margin:0 auto; width:115px; margin-top:-10px; z-index:999; text-align:center; position:absolute; margin-left:47%;}
.arrow{ margin:0 auto; width:108px; margin-top:-10px; z-index:1000; text-align:center; position:absolute; margin-left:47%; margin-top:414px;}
.banner{ width:100%; float:left; margin-top:0px;}
.f_title{ height:86px; background-color:#236cb2; font-family: mygoticbold; font-size:28px; color:#fff; padding-top:20px; margin-bottom: 10px; border-radius:5px 5px 0px 0px; }
.f_title3rd{ height:86px; background-color:#236cb2; font-family: mygoticbold; font-size:28px; color:#fff; padding-top:5px; margin-bottom: 10px; border-radius:5px 5px 0px 0px; }
.box{ border:1px solid #CCCCCC; border-radius:5px; text-align:center; min-height: 350px; -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.50); }
.f_content{ padding:15px; padding-left:30px; padding-right:30px; color:#4f4f4f; font-family: mygoticReg; font-size:18px;}
.f_lcontent{ margin-left:50px;}
.f_lcontent ul{ padding-left:10px;}
.f_lcontent ul li{ color:#4f4f4f; font-family: mygoticReg; font-size:18px; list-style:none; list-style-image:url(/static/public/tick.jpg); text-align: left;}
.color_section{ height:470px; color:#666666; width:100%; background-image:url(/static/public/col_sec.jpg); margin-top:20px; }
.welc_title{ font-family: mygoticbold; font-size:42px; color:#1d1d1d; text-align:center; padding-bottom:15px; margin-top:20px; margin-bottom: 20px;}
.box1{background-image:url(/static/public/box1.jpg); height:312px; background-repeat:no-repeat; margin-top: 5px;}
.box2{background-image:url(/static/public/box2.jpg); height:312px; background-repeat:no-repeat; margin-top: 5px;}
.box3{background-image:url(/static/public/box3.jpg); height:312px; background-repeat:no-repeat; margin-top: 5px;}
.fl_content{ padding:10px; color:#fff; font-family: mygoticbold; font-size:28px; padding-top: 160px; width:90%; text-align:center;}
.fl_content p{color:#fff; font-family: mygoticReg; font-size:18px; line-height:20px; text-align:center; padding-top:3px; margin: 0px}
.r_box1{background-image:url(/static/public/step1.jpg); height:312px; background-repeat:no-repeat; margin-bottom:80px;}
.r_box2{background-image:url(/static/public/step2.jpg); height:312px; background-repeat:no-repeat; margin-bottom:80px;}
.r_box3{background-image:url(/static/public/step3.jpg); height:312px; background-repeat:no-repeat; margin-bottom:80px;}
.r_box1_content{font-family: mygoticbold; font-size:18px; color:#fff; text-align:center; width:84%;padding-top: 110px;
 line-height:20px;  margin:0px auto;}
.r_box1r_content{ font-family: mygoticbold; font-size:18px; color:#fff; text-align:center; width:80%;padding-top: 90px;
 line-height:20px;  margin:0px auto;}
.wel_top_title{ font-family: mygoticbold; font-size:39px; color:#1d1d1d; text-align:center;  width:100%;  border-bottom: 1px #CCCCCC solid; border-top: 1px #CCCCCC solid; padding: 25px 0px 25px 0px;}
.wel_top_title span{color:#b30000; text-transform:uppercase;}
.gapwel{height:20px;}
.section_box2_rghtb{ width:100%; float:left; padding:10px;}
.section_box2b{ background-color:#FFFFFF; width:100%; overflow:hidden; border-radius:5px; padding:6px 5px 6px 6px;}
.color_section2{ height:760px; color:#236cb2; width:100%; background-color:#236cb2; padding-top:20px;}
.section_box2{ background-color:#FFFFFF; width:100%; height:120px; -radius:5px;border margin-top:15px;}
.section_box2_img{ width:25%; float:left; padding:10px; overflow:hidden; border-radius:5px;}
.section_box2_rght{ width:70%; float:left; padding:10px;}
.section_box2_desc{ color:#414141; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;}
.section_box2_title{ font-family: lobesstar; font-size:22px; color:#000000;}
.section_box2_title p{color:#4e4e4e; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height: 8px; margin:0px;}
.section_box2_star{ padding-top:5px; }
.wel_title123{ font-family: mygoticbold; font-size:42px; color:#1d1d1d; text-align:center; background-image:url(/static/public/bg_img.png); background-position:bottom; background-repeat:no-repeat; padding-bottom:15px; margin-bottom: 20px;}
.color_section3{ height:650px; color:#666666; width:100%; background-image:url(/static/public/col_sec.jpg); }
.banner_img{ width:100%; float: none}
.gurrantee_box{ width:205px; float:left; background-color:#fff; border-radius:5px; margin:8px; min-height:218px; margin-left:15px; -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.50);}
.gurrantee_img{}
.gurrantee_title{ padding-left:10px; color:#7ba720; font-family: mygoticReg; font-size:24px;}
.gurrantee_title a{color:#7ba720; font-family: mygoticReg; font-size:24px;}
.gurrantee_title a:hover{color:#000; font-family: mygoticReg; font-size:24px; text-decoration:none;}
.gurrantee_title p{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4a4a4a; line-height:16px; padding-left: 2px;}
.grnt_img{ padding-top:5px;}
.made_in_uk{color:#000000; font-family: mygoticReg; font-size:18px; padding-left:15px; padding-right:15px; margin-top:5px; line-height:27px; margin-bottom:50px;}
.made_in_ukimg{ padding-top:3px; margin-top:1px; /*-webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.50);
border-radius:5px;*/ }
.color_section4{  color:#666666; width:100%; background-image:url(/static/public/col_sec.jpg);  }
.saving_today_box{width:100%; float:left; background-color:#fff; padding:15px; border-radius:5px; /*margin:8px;*/ min-height:218px;/* margin-left:15px;*/ margin-top: 20px; -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.50);}
.saving_today_box1{width:48.5%; float:left; background-color:#fff; margin-top:20px;  padding:15px; border-radius:5px;  min-height:218px; -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.50);}

.saving_today_box1_1{width:48.5%; float:left; background-color:#fff; margin-top:20px; padding:15px; border-radius:5px; min-height:218px; margin-left:25px;   -webkit-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 33px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.50);}
.saving_box_left{ width:55%; float:left;}
.saving_box_content{font-family: mygoticbold; font-size:41px; color:#b30000;}
.saving_box_content p{color:#000000; font-family: mygoticReg; font-size:18px; line-height:27px; padding-right: 30px;}
.saving_box_rimg{ width:40%; float:left;}
.saving_box_rimg p{ text-align:center; color:#000000; font-family: mygoticReg; font-size:18px; line-height:27px;}

.bonus_left{ width:30%; float:left;}
.bonus_right{ width:65%; float:left;}
.bonus_desc{color:#424242; font-family: mygoticReg; font-size:18px; line-height:20px; padding-right:20px;}
.bonus_desc p{color:#0f3d86; font-family: mygoticbold; font-size:18px; line-height:18px; padding-top:30px;}
.con_button{ width:435px; margin:0 auto; padding-top:45px; padding-bottom:50px;}
.color_section_colour{ height:375px; color:#666666; width:100%; background-color:#236cb2;  }
.social_box{width:100%; float:left; background-color:#fff; padding:15px; border-radius:5px; margin:8px; min-height:100px; padding:10px;}
.footer_b{ height:224px; background-color:#262626; }


.ftr_copyrght{font-family: mygoticReg; font-size:12px; color:#e3e3e3; margin:0 auto; text-align:right;}
.box_shadow{ margin-top:-2px; text-align:center;}

#footer{ width:100%; padding:10px; background-color:#262626;}
#footer .footer_addr{color:#FFFFFF; font-family: mygoticReg; font-size:14px; line-height:18px;}
#footer .ftr_menu{ float:right; padding-top:10px;}
#footer .ftr_menu ul{}
#footer .ftr_menu ul li{ list-style:none; display:inline; font-family: mygoticReg; font-size:14px; color:#c0c0c0; padding-left:5px; padding-right:5px;}
#footer .ftr_menu ul li a{font-family: mygoticReg; font-size:14px; color:#c0c0c0; text-decoration:none;}
#footer .ftr_menu ul li a:hover{font-family: mygoticReg; font-size:14px; color:#fff; text-decoration:none;}
.ftr_socialbox{ float:right; margin:0 auto; padding-top:20px; w}
.ftr_twitter{width:54px; float:left;}
.ftr_facebook{ width:54px; float:left;}
.ftr_mail{ width:42px; float:left;}



.color_header{ font-family:mygoticbold; font-size:28px; color:#236cb2; padding-bottom:5px;}
.about_image{ float:left;}
.general_text{ font-family:mygoticReg; font-size:18px; color:#000; line-height:20px; padding-bottom:10px; }
.general_text span{ font-family:mygoticReg; font-size:18px; color:#000; line-height:20px; padding-bottom:10px; }
.general_text span a{ font-family:mygoticReg; font-size:18px; color:#236cb2; line-height:20px; padding-bottom:10px; }
.header_about{ font-family: mygoticbold; font-size:42px; color:#000;}
.in_box{ width:300px; border-radius:5px; border-color:#333333; }
textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;

}
.contact_bg{ background-image:url(/static/public/background.jpg); background-repeat:no-repeat;}
.contact_header{ font-family: mygoticbold; font-size:30px; color:#fff; padding-top:15px; padding-left:30px;}
.contact_sub{font-family:mygoticReg; font-size:18px; color:#fff; padding-left:30px; padding-bottom:50px;line-height: 20px;}
.contact_sub p{font-family:mygoticReg; font-size:18px; color:#fff; padding-left:20px;}