@charset "utf-8";
/* CSS Document */

a:link { color:#066666; text-decoration:none; }
a:visited { color:#066666; text-decoration:none; }
a:hover { color:#22c4c4; text-decoration:none; }
a:active { color:#066666; text-decoration:none; }

/* form{font-family:Arial, Helvetica, sans-serif;} */
img{ text-decoration:none; border:0;}
img a:link { text-decoration:none; border:0px; }
img a:visited { text-decoration:none; border:0px; }
img a:hover { text-decoration:none; border:0px; }
img a:active { text-decoration:none; border:0px; }


body
{
	/*background:url(/static/pattern.jpg) repeat;*/
	background-color:#FFF;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	line-height:20px;
	color:#000;
}

.header_wide
{
	width:100%;
	min-height:200px;
	float:left;
	border-top:10px solid #066666;
	overflow:hidden;
	/*background:url(/static/pattern.jpg);*/
}
.header_wide_2
{
	width:100%;
	min-height:150px;
	float:left;
	/*border-top:10px solid #066666;*/
	overflow:hidden;
}
.header
{
	/*background:url(/static/pattern.jpg);*/
	width:1000px;
	height:220px;
	margin:auto;
}
.header_2
{
	/*background:url(/static/pattern.jpg);*/
	width:1000px;
	height:150px;
	margin:auto;
}
.header_all
{
	width:900px;
	height:210px;
	margin:auto;
	padding-top:10px;
}
.header_all a:link { color:#002489; text-decoration:none; }
.header_all a:visited { color:#002489; text-decoration:none; }
.header_all a:hover { color:#00A7EB; text-decoration:none; }
.header_all a:active { color:#002489; text-decoration:none; }




.header_left
{
	width:320px;
	height:200px;
	float:left;
}
.header_left_top
{
	width:320px;
	height:50px;
	float:left;
}
.header_right_top
{
	width:320px;
	height:35px;
	padding-top:15px;
	text-align:right;
	float:left;
}
.header_left_menu
{
	width:320px;
	height:70px;
	float:left;
}
.header_left_menu_item
{
	background:url(/static/public/background_menu.png);
	width:160px;
	height:60px;
	padding-top:10px;
	text-align:center;
	line-height:25px;
	color:#FFF;
	float:left;
}
.header_left_menu_item a:link { color:#FFF; text-decoration:none; }
.header_left_menu_item a:visited { color:#FFF; text-decoration:none; }
.header_left_menu_item a:hover { color:#FFF; text-decoration:none; }
.header_left_menu_item a:active { color:#FFF; text-decoration:none; }
.header_left_menu_item:hover { background:url(/static/public/background_menu_hover.png); color:#FFF; }

.header_left_menu_item_hover
{
	background:url(/static/public/background_menu_hover.png);
	width:160px;
	height:60px;
	padding-top:10px;
	text-align:center;
	line-height:25px;
	color:#FFF;
	float:left;
}

.header_logo
{
	width:260px;
	height:200px;
	text-align:center;
	float:left;
}
.header_logo_2
{
	width:260px;
	height:140px;
	padding-top:10px;
	text-align:center;
	margin:auto;
}





.content_wide
{
	width:100%;
	min-height:300px;
	float:left;
	overflow:auto;
}
.content
{
	/*background:url(/static/pattern.jpg);*/
	width:1000px;
	min-height:300px;
	margin:auto;
	overflow:auto;
}
.content_row
{
	background-color:#FFF;
	width:880px;
	min-height:20px;
	padding:10px;
	margin:auto;
	overflow:auto;
}
.content_part_1
{
	background-color:#FFF;
	width:900px;
	min-height:20px;
	margin:10px 0px 20px 50px;
	float:left;
}
.content_part_2
{
	width:900px;
	min-height:300px;
	margin-bottom:10px;
	margin-left:50px;
	float:left;
}

.content_main_image
{
	width:880px;
	height:350px;
	margin:10px 0px 10px 10px;
	float:left;
}

.content_huge_savings
{
	width:300px;
	height:300px;
	text-align:center;
	background-color:#FFFFFF;
}
.content_huge_savings_head
{
	width:270px;
	height:60px;
	margin:15px 0px 0px 15px;
	float:left;
}
.content_huge_savings_middle
{
	width:270px;
	height:150px;
	font-size:22px;
	line-height:45px;
	padding-top:10px;
	margin:0px 0px 0px 15px;
	float:left;
	overflow:hidden;
}
.content_huge_savings_button
{
	width:270px;
	min-height:50px;
	margin:0px 0px 0px 15px;
	float:left;
	overflow:auto;
}



.content_left_text
{
	width:440px;
	height:260px;
	padding:20px;
	float:left;
}
.content_right_image
{
	width:400px;
	height:300px;
	float:left;
}





.content_one_forth
{
	width:216px;
	min-height:500px;
	text-align:center;
	float:left;
}
.content_one_forth_inner
{
	width:200px;
	min-height:20px;
	text-align:center;
	line-height:30px;
	margin-left:8px;
	color:#000;
	float:left;
}


.about_us_wide
{
	width:880px;
	min-height:20px;
	margin:auto;
	margin-top:10px;
}
.about_us_top_left
{
	width:500px;
	min-height:200px;
	float:left;
	overflow:auto;
}
.about_us_top_right
{
	width:360px;
	min-height:200px;
	margin-left:18px;
	padding-bottom:10px;
	text-align:center;
	float:left;
	overflow:auto;
}
.about_us_top_right_box
{
	width:360px;
	height:300px;
	margin:auto;
}



.our_packages_half
{
	width:430px;
	min-height:20px;
	border:1px solid #ccc;
	margin-bottom:10px;
	float:left;
	overflow:hidden;
}
.our_packages_half_row
{
	width:410px;
	min-height:20px;
	text-align:center;
	margin:auto;
	overflow:hidden;
}
.our_packages_half_row_left
{
	width:180px;
	min-height:20px;
	float:left;
	overflow:hidden;
}
.our_packages_half_row_right
{
	width:200px;
	min-height:20px;
	margin-left:10px;
	float:left;
	overflow:hidden;
}




.fragrance_left
{
	width:690px;
	min-height:20px;
	margin-bottom:10px;
	float:left;
	overflow:hidden;
}
.fragrance_left_row
{
	width:690px;
	min-height:20px;
	float:left;
	overflow:hidden;
}
.fragrance_right
{
	width:170px;
	min-height:20px;
	margin-bottom:10px;
	margin-left:10px;
	padding:10px;
	text-align:center;
	float:left;
	overflow:hidden;
}
.fragrance_one_third
{
	background-color:#EEE;
	width:220px;
	min-height:20px;
	margin-left:10px;
	float:left;
	overflow:hidden;
}
.fragrance_one_third_pic
{
	background-color:#FFF;
	width:200px;
	height:200px;
	margin:10px 0px 10px 10px;
	float:left;
}
.fragrance_one_third_name
{
	width:220px;
	height:30px;
	text-align:center;
	float:left;
}



.contact_us
{
	width:600px;
	min-height:250px;
	margin:auto;
	padding:10px 20px;
	overflow:auto;
}
.contact_us_row
{
	width:600px;
	min-height:20px;
	margin-top:10px;
	float:left;
}
.contact_us_row_left
{
	width:190px;
	min-height:20px;
	padding-right:10px;
	text-align:right;
	float:left;
}
.contact_us_row_right
{
	width:400px;
	min-height:20px;
	float:left;
}





.faq_item_row
{
	width:880px;
	min-height:25px;
	margin:auto;
	margin-top:20px;
	overflow:hidden;
}
.faq_q_a_row
{
	width:880px;
	min-height:25px;
	margin:auto;
	margin-top:2px;
	overflow:hidden;
}
.faq_row_left_question
{
	width:30px;
	height:25px;
	margin-left:30px;
	float:left;
	overflow:visible;
}
.faq_row_left_answer
{
	width:30px;
	height:25px;
	margin-left:30px;
	float:left;
}
.faq_row_right
{
	width:750px;
	min-height:25px;
	margin-left:20px;
	float:left;
	overflow:hidden;
}














.enter_email_pass_left
{
	width:550px;
	min-height:20px;
	margin-left:20px;
	float:left;
	overflow:hidden;
}
.enter_email_pass_left_row
{
	width:550px;
	min-height:20px;
	margin-left:20px;
	margin-bottom:10px;
	float:left;
	overflow:hidden;
}
.enter_email_pass_left_row_left
{
	width:250px;
	min-height:20px;
	margin-left:10px;
	text-align:right;
	float:left;
	overflow:hidden;
}
.enter_email_pass_left_row_right
{
	width:270px;
	min-height:20px;
	margin-left:10px;
	float:left;
	overflow:hidden;
}

.enter_email_pass_right
{
	width:290px;
	min-height:20px;
	padding:0px 0px;
	margin:15px 0px 10px 10px;
	text-align:center;
	line-height:25px;
	border:2px solid #FF3;
	float:left;
	overflow:hidden;
}

.enter_email_pass_box
{
	width:310px;
	margin:15px 0px 10px 10px;
	float:left;
	overflow:hidden;
}
.enter_email_pass_right_row
{
	width:290px;
	min-height:20px;
	padding:15px 0px;
	text-align:center;
	line-height:25px;
	float:left;
	overflow:hidden;
}




.good_news
{
	background-color:#FFF;
	width:700px;
	min-height:20px;
	margin:10px 0px 20px 150px;
	float:left;
}
.good_news_row
{
	width:660px;
	min-height:20px;
	margin-bottom:10px;
	margin-left:20px;
	float:left;
	overflow:hidden;
}
.good_news_row_left
{
	width:250px;
	min-height:20px;
	text-align:right;
	float:left;
	overflow:hidden;
}
.good_news_row_right
{
	width:400px;
	min-height:20px;
	margin-left:10px;
	float:left;
	overflow:hidden;
}




/*------------------------------ CSS of footer ------------------------------*/

.footer_wide
{
	background:#efefef;
	width:100%;
	height:100px;
	float:left;
	overflow:hidden;
}
.footer
{
	width:1000px;
	height:100px;
	margin:auto;
}
.footer a:link { color:#666666; text-decoration:none; }
.footer a:visited { color:#666666; text-decoration:none; }
.footer a:hover { color:#066666; text-decoration:none; }
.footer a:active { color:#666666; text-decoration:none; }

.footer_inner
{
	width:900px;
	height:100px;
	color:#666666;
	margin:auto;
}
.footer_one_third
{
	width:216px;
	height:80px;
	font-size:14px;
	padding-top:20px;
	float:left;
}



/*-------------------------------------------------------*/



.some_color
{
	background-color:#066666;
	background-color:#22C4C4;
	background-color:#efefef;
	
}

.blank
{
	background-color:#999999;
	width:1000px;
	height:1px;
	margin:10px 0px 10px 0px;
	float:left;
}

.text_1
{
	font-size:16px;
}
.text_2
{
	font-size:30px;
}

/* blue */
.text_3
{
	color:#22c4c4;
}
.text_4
{
	color:#22c4c4;
	font-size:20px;
}
.text_5
{
	color:#22c4c4;
	font-size:16px;
}
.text_6
{
	color:#F00;;
	font-size:60px;
	line-height:60px;
}
.text_7
{
	font-size:26px;
}
.text_8
{
	color:#F00;;
}



