/* Some basic style resets to make the page look slightly nicer */
h1, h2 {
    font-family: Arial, sans-serif;
    margin: 10px 0;
}

p, a {
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

/* Gallery */
[href="#next"] {
    float: right;
}

[href="#prev"] {
    float: left;
}

[href="#next"], [href="#prev"] {
    padding-top: 10px;
}

div.popup {
    overflow: hidden;
}
iframe{ width:650px; height:510px;}